# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
build/
dist/

# Environment
.env

# Logs
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Dataset (optional: if you want to keep images local only)
# backend/dataset/

